body {
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 16px;
    line-height: 1.2;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

.container {
    margin: 0 auto;
    max-width: 1140px;

}

//         <<<      >>>
// <<< grandOfferBlock >>>
//         <<< down >>>



.grand__offer {
    position: relative;

    .grand__offer-features {
        position: absolute;
        right: 0;
        top: 0;
        height: 529px;
        width: 373px;
    }
}

.grand__offer-img {
    display: block;
    position: relative;

    & img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.grand__offer-img-title {
    color: #FBFBFB;
    position: absolute;
    top: 120px;
    left: 40px;
    text-transform: uppercase;
}

.title__textTop {
    font-size: 50px;

    & span {
        color: #F16D7F;
    }
}

.title__textBottom {
    font-size: 35px;
}


.grand__offer-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222224;
    max-width: 100%;
    height: auto;

}

.features_item:nth-child(n+2) {
    margin-top: 48px;
}


.features_item_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.features_item_title {
    color: #FBFBFB;
    font-size: 20px;
    margin-top: 25px;
}

.features_item_subtitle {
    color: #FBFBFB;
    font-size: 14px;
    text-align: center;

    margin-top: 16px;
}

@media (max-width: 768px) {
    .grand__offer .grand__offer-features {
        position: static;
        width: auto;
    }

    .title__textTop {
        font-size: 45px;


    }

    .title__textBottom {
        font-size: 35px;
    }

}


@media (max-width: 620px) {

    .title__textTop {
        font-size: 35px;


    }

    .title__textBottom {
        font-size: 25px;
    }

}


//         <<<  up  >>>
// <<< grandOfferBlock >>>
//         <<<      >>>