
// registration Page >>>>

@media (max-width: 1140px) {
   .registration__info_title{
       font-size: 16px;
       margin-left: 22px;
   }

   .registration__info_subtitle{
       font-size: 16px;
       margin-left: 22px;
   }
   .registration__info_feature{
       font-size: 16px;
       margin-left: 22px;
   }


}

@media (max-width: 675px) {
    .registration__content{
        display: flex;
        flex-direction: column;
    }
    .registration__info{
        margin-top: 40px;
    }
    .registration__form{
        max-width: 100%;
    }
 
 
 }

@media (max-width: 768px) {
   

}