html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

svg path {
  fill: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */
.header {
  background: #222222;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
}

.header__search {
  width: 26px;
  height: 26px;
}

.header__search svg {
  width: 26px;
  height: 26px;
  fill: #E8E8E8;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.header__search:hover svg {
  fill: #f16d7f;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons svg {
  fill: #E8E8E8;
}

.header__icons-burger_menu {
  width: 32px;
  height: 23px;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.header__icons-cart {
  width: 32px;
  height: 29px;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.header__icons-account {
  width: 29px;
  height: 29px;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.header__icons:hover .header__icons-burger_menu {
  fill: #f16d7f;
}

.header__icons:hover .header__icons-account {
  fill: #f16d7f;
}

.header__icons:hover .header__icons-cart {
  fill: #f16d7f;
}

.header__search {
  margin-left: 41px;
}

.promo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__left {
  width: 50%;
}

.promo__right {
  width: 50%;
}

.promo__img {
  width: 100%;
  height: 100%;
}

.promo__content {
  margin-top: 30%;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.promo__text {
  color: #f16d7f;
}

.promo__h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  white-space: nowrap;
}

.promo__heading {
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  white-space: nowrap;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sale__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sale__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.sale__heading {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.sale__img {
  width: 100%;
}

.sale__item:not(:last-child) {
  margin-right: 30px;
}

.fetured_items_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.fetured_items_title_textTop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: 700;
}

.fetured_items_title_textBottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  color: #9f9f9f;
  text-align: center;
  margin-top: 15px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: block;
  width: 360px;
  height: 580px;
  background-color: #F8F8F8;
  -webkit-transition: -webkit-box-shadow .1s linear;
  transition: -webkit-box-shadow .1s linear;
  transition: box-shadow .1s linear;
  transition: box-shadow .1s linear, -webkit-box-shadow .1s linear;
}

.card__img {
  position: relative;
}

.card__img img {
  height: 100%;
}

.card__img_text {
  white-space: nowrap;
}

.card__button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 40%;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 44px;
  padding: 15px 10px;
  gap: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.card__button img {
  width: 26px;
  height: 24px;
}

.card__img_background {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 420px;
  background-color: #3a3838c5;
}

.card:hover {
  -webkit-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.card:hover .card__img_background {
  display: block;
}

.card__text {
  padding: 24px 17px 20px;
}

.card__textTitle {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.card__textContent {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
}

.card__textPrice {
  color: #f16d7f;
  margin-top: 18px;
}

.fetured_items_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 95px;
}

.fetured_items_button_wrap {
  display: block;
  max-width: 220px;
  background-color: #f16d7f;
  padding: 15px 40px;
  color: #ffffff;
  border: 1px solid #f16d7f;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.fetured_items_button_wrap:hover {
  background-color: #ffffff;
  color: #f16d7f;
}

.grand__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222224;
  min-height: 341px;
}

.feedback-margintop128px {
  margin-top: 128px;
}

.features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_item_title {
  color: #FBFBFB;
  font-size: 20px;
  margin-top: 25px;
}

.features_item_subtitle {
  color: #FBFBFB;
  font-size: 14px;
  text-align: center;
  max-width: 340px;
  margin-top: 16px;
}

.features_item_svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 40px;
}

.features_item_svg-car svg {
  width: 45px;
  height: 32px;
  fill: #f16d7f;
}

.features_item_svg-percent svg {
  width: 40px;
  height: 40px;
  fill: #f16d7f;
}

.features_item_svg-crown svg {
  width: 47px;
  height: 35px;
  fill: #f16d7f;
}

.feedback {
  background-blend-mode: screen;
  background: url(../images/feedback_cover.png) no-repeat;
  background-position: 0px;
  background-size: cover;
  background-color: rgba(244, 244, 244, 0.7);
  min-height: 448px;
}

.feedback__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback-margintop128px {
  margin-top: 128px;
}

.feedback-margintop96px {
  margin-top: 96px;
}

.subscribe {
  width: 350px;
}

.subscribe__title {
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__subtitle {
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__input {
  width: 240px;
  background: #E1E1E1;
  padding: 16px 22px;
  border-radius: 26px 0 0 26px;
  border-width: inherit;
  outline: none;
}

.subscribe__button {
  width: 95px;
  border-radius: 0 26px 26px 0;
  border-width: inherit;
  background-color: #F16D7F;
  padding: 16px;
  margin: -7px;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.subscribe__button:hover {
  background-color: #E05C6E;
}

.page__title {
  width: 100%;
  height: 150px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.page__title_content {
  color: #f16d7f;
  text-transform: uppercase;
  font-size: 24px;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

.input__add_info {
  padding: 13px 0 16px 17px;
  display: block;
  width: 100%;
  margin-top: 20px;
  outline: none;
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
}

.choose__gender_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.choose__gender_block label {
  margin-right: 20px;
}

.choose__gender {
  height: 17px;
  width: 17px;
  vertical-align: text-bottom;
  border: solid 1px #A4A4A4;
}

.registration__form_subtitle-marginTop {
  margin-top: 33px;
}

.password__value_recomendation {
  font-size: 13px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration__form_button {
  display: block;
  text-transform: uppercase;
  border: 1px solid #f16d7f;
  color: #ffffff;
  background-color: #f16d7f;
  outline: none;
  margin-top: 40px;
  max-width: 167px;
  cursor: pointer;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.registration__form_button_value {
  padding: 16px;
  display: block;
}

.registration__form_button_value svg {
  width: 17px;
  height: 10px;
  margin-left: 20px;
  fill: #ffffff;
}

.registration__form_button:hover {
  color: #f16d7f;
  background-color: #ffffff;
}

.registration__form_button:hover .registration__form_button_value svg {
  fill: #f16d7f;
}

.registration__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 652px;
}

.registration__info_title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28.8px;
}

.registration__info_feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28.8px;
  font-size: 24px;
  margin-top: 16px;
}

.registration__info_feature img {
  margin-right: 20px;
  width: 20px;
  height: 16px;
}

.registration__info_subtitle {
  font-size: 24px;
  line-height: 28.8px;
  margin-top: 22px;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 113px;
}

.cart__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .2s linear;
  transition: -webkit-transform .2s, -webkit-box-shadow .2s linear;
  transition: transform .2s, box-shadow .2s linear;
  transition: transform .2s, box-shadow .2s linear, -webkit-transform .2s, -webkit-box-shadow .2s linear;
}

.cart__item:not(:first-child, :last-child) {
  margin-top: 40px;
}

.cart__item a svg {
  width: 18px;
  height: 18px;
  fill: #575757;
}

.cart__item_close {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 28px 22px 0 0;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.cart__item_close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cart__item:hover {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-box-shadow: 19px 19px 17px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 19px 19px 17px 2px rgba(34, 60, 80, 0.2);
}

.cart__item_parameters {
  padding: 22px 97px 62px 31px;
}

.parameters__title {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 42px;
  width: 200px;
}

.parameters__price span {
  color: #f16d7f;
}

.parameters-mt6px {
  margin-top: 6px;
}

.parameters__quantity input {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  color: #222222;
  text-align: center;
  outline: none;
}

.cart__items_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart__items_button {
  display: block;
  color: #222222;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.cart__items_button:hover {
  background-color: #a4a4a454;
}

.cart__form {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__form_addres {
  margin-bottom: 57px;
}

.button_getQuote {
  display: block;
  margin-top: 23px;
  color: #4A4A4A;
  padding: 11px 14px;
  border: 1px solid #A4A4A4;
  max-width: 104px;
  font-size: 11px;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.button_getQuote:hover {
  background-color: #a4a4a454;
}

.cart__form_total {
  background-color: #F5F3F3;
  padding: 40px;
}

.sub__total {
  text-align: right;
}

.sub__total span {
  margin-left: 30px;
  font-size: 11px;
}

.grand__total {
  text-align: right;
  margin-top: 12px;
}

.grand__total span {
  margin-left: 30px;
  color: #f16d7f;
  font-weight: 600;
}

.line {
  height: 1px;
  width: 275px;
  background-color: #E2E2E2;
  margin: 21px 0 17px;
}

.total_button {
  display: block;
  background-color: #f16d7f;
  color: #ffffff;
  padding: 15px 42px;
  border: 1px solid #f16d7f;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.total_button:hover {
  color: #f16d7f;
  background-color: #ffffff;
}

.new_arrivals {
  width: 100%;
  min-height: 150px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.product__nav a {
  display: inline-block;
  color: #636363;
  font-size: 14px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.product__nav a:hover {
  color: #f16d7f;
}

.product__nav span {
  display: inline-block;
  color: #f16d7f;
  font-size: 14px;
}

.product__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
}

.product__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F7F7F7;
  position: relative;
  height: 800px;
}

.slider_photos {
  position: absolute;
  max-width: 100%;
  height: 100%;
}

.slider_item {
  width: 100%;
  z-index: 1;
}

.slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #a4a4a454;
}

.slider__button-left {
  left: 0;
  cursor: pointer;
  padding-right: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__button-right {
  right: 0;
  cursor: pointer;
  padding-left: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__button svg {
  width: 12px;
  height: 21px;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.slider__button:hover svg {
  fill: #f16d7f;
}

.product__wrapper {
  position: relative;
  width: auto;
  height: auto;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -65px;
  height: 600px;
  width: 100%;
  border: 1px solid #EAEAEA;
  background-color: #ffffff;
  margin-bottom: 128px;
}

.product__info_title {
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 64px;
  font-size: 14px;
}

.product__line-red {
  height: 3px;
  width: 63px;
  background-color: #f16d7f;
  margin: 12px 0;
}

.product__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product__text {
  font-size: 14px;
  color: #5E5E5E;
  text-align: center;
  max-width: 555px;
  letter-spacing: 0.9px;
}

.roduct__price {
  font-size: 24px;
  color: #f16d7f;
  margin-top: 32px;
}

.product__line {
  height: 1px;
  width: 60%;
  background-color: #EAEAEA;
  margin: 64px 0;
}

.choose_parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  margin-left: 30%;
}

.select__choose {
  border: none;
  background-color: #ffffff;
  font-family: inherit;
  color: #6F6E6E;
  outline: none;
  cursor: pointer;
}

.product__choose_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 12px 26px;
  margin-top: 48px;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.product__choose_button svg {
  width: 26px;
  height: 24px;
  margin-right: 23px;
  fill: #f16d7f;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.product__choose_button:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.product__choose_button:hover svg {
  fill: #ffffff;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px 0 64px;
}

.filter_burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_burger a {
  display: block;
  color: #222222;
}

.filter_burger span {
  text-transform: uppercase;
  margin-right: 11px;
  font-size: 14px;
}

.filter_burger svg {
  width: 15px;
  height: 10px;
}

.catalog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.change__pageCatalog_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 96px;
}

.change__pageCatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #C4C4C4;
  padding: 15px;
  max-width: 285px;
}

.change__pageCatalog a {
  display: block;
}

.change__pageCatalog_arrow svg {
  width: 8px;
  height: 14px;
  margin: 0 8px;
}

.page_number {
  color: #C4C4C4;
  padding: 0 6px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.page_number:hover {
  color: #f16d7f;
}

.change__pageCatalog_arrow {
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.change__pageCatalog_arrow:hover svg {
  fill: #f16d7f;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222224;
  min-height: 80px;
}

.footer__copyright {
  color: #ffffff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background-color: #ffffff;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.footer__social a svg {
  width: 15px;
  height: 15px;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.footer__social a:hover {
  background-color: #f16d7f;
}

.footer__social a:hover svg {
  fill: #ffffff;
}

@media (max-width: 1172px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 0 8px;
  }
  .header__icons-account {
    display: none;
  }
  .header__icons-cart {
    display: none;
  }
}

@media (max-width: 863px) {
  .promo__h1 {
    font-size: 32px;
  }
  .promo__heading {
    font-size: 24px;
  }
}

@media (max-width: 670px) {
  .promo__left {
    display: none;
  }
  .promo {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__content {
    margin: 148px 0;
  }
  .promo__right {
    width: auto;
  }
  .sale__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sale__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .sale__item {
    min-height: 111px;
  }
  .sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sale__item_big {
    width: 360px;
  }
}

@media (max-width: 1172px) {
  .cart__wrapper {
    padding: 0 16px;
  }
}

@media (max-width: 1070px) {
  .cart__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__item {
    position: relative;
  }
  .cart__item_close {
    position: absolute;
    right: 0;
  }
  .cart__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 100%;
    margin-top: 64px;
  }
  .cart__form_addres {
    margin-bottom: 0;
    width: 50%;
    margin-right: 15px;
  }
  .total_button {
    white-space: nowrap;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .cart__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__form_addres {
    width: 100%;
    margin-right: 0;
  }
  .cart__form_total {
    margin-top: 48px;
  }
  .cart__items_button {
    font-size: 12px;
  }
  .cart__item {
    height: 240px;
    font-size: 14px;
  }
  .parameters__title {
    font-size: 16px;
    margin-bottom: 25px;
    width: 175px;
  }
  .total_button {
    padding: 15px 15px;
  }
  .cart__wrapper {
    padding: 0 8px;
  }
}

@media (max-width: 490px) {
  .cart__items_button {
    padding: 15px 10px;
  }
  .cart__item {
    height: 188px;
  }
  .cart__item_close {
    width: 10px;
    height: 11px;
    margin: 18px 15px 0 0;
  }
  .cart__item a svg {
    width: 10px;
    height: 11px;
  }
  .cart__item_close:hover {
    -webkit-transform: none;
            transform: none;
  }
  .parameters__title {
    width: 165px;
  }
  .cart__item_parameters {
    padding-left: 15px;
    padding-right: 35px;
  }
  .cart__item img {
    width: 145px;
  }
}

@media (max-width: 1000px) {
  .product__info {
    margin-top: 0;
  }
}

@media (max-width: 435px) {
  .choose__color {
    font-size: 12px;
  }
  .choose__size {
    font-size: 12px;
  }
  .choose__quantity {
    font-size: 12px;
  }
}

@media (max-width: 1172px) {
  .main-padding {
    padding: 0 16px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 796px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .main-padding {
    padding: 0 8px;
  }
  .choose_parameters {
    margin-left: 0;
  }
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 405px) {
  .main-padding {
    padding: 0 8px;
  }
  .card {
    width: 350px;
  }
  .card__img img {
    width: inherit;
  }
  .card__img {
    width: 350px;
  }
}

@media (max-width: 510px) {
  .filter_burger span {
    display: none;
  }
  .filter_burger a svg {
    width: 37px;
    height: 25px;
  }
  .choose_parameters select {
    font-size: 12px;
  }
}

@media (max-width: 440px) {
  .page__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1172px) {
  .registration__content {
    padding: 0 16px;
  }
  .page__title {
    padding: 0 16px;
  }
}

@media (max-width: 1140px) {
  .registration__info_title {
    font-size: 16px;
    margin-left: 22px;
  }
  .registration__info_subtitle {
    font-size: 16px;
    margin-left: 22px;
  }
  .registration__info_feature {
    font-size: 16px;
    margin-left: 22px;
  }
}

@media (max-width: 675px) {
  .registration__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration__info {
    margin-top: 40px;
  }
  .registration__form {
    max-width: 100%;
  }
  .registration__info_title {
    margin-left: 0;
  }
  .registration__info_subtitle {
    margin-left: 0;
  }
  .registration__info_feature {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .registration__content {
    padding: 0 8px;
  }
  .page__title {
    padding: 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 440px) {
  .new_arrivals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__nav-margintop {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .grand__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 610px;
  }
  .features_item-car {
    margin-top: 48px;
  }
  .features_item-crown {
    margin-bottom: 48px;
  }
}

@media (max-width: 1156px) {
  .subscribe {
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .feedback__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__unitsubscribe {
    margin-top: 64px;
  }
  .feedback {
    min-height: 548px;
  }
  .subscribe {
    margin-bottom: 100px;
    padding-right: 0;
  }
}

@media (max-width: 1172px) {
  .footer__copyright {
    padding-left: 16px;
  }
  .footer__social {
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__social {
    margin-top: 43px;
    padding-right: 0;
  }
  .footer__copyright {
    margin: 25px 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */