body {
  margin: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  margin-left: 41px;
}

.promo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__left {
  width: 50%;
}

.promo__right {
  width: 50%;
}

.promo__img {
  width: 100%;
}

.promo__content {
  margin-top: 30%;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.promo__text {
  color: #f16d7f;
}

.promo__h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sale__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sale__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.sale__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.sale__img {
  width: 100%;
}

.sale__item:not(:last-child) {
  margin-right: 30px;
}

.fetured_items_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.fetured_items_title_textTop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: 700;
}

.fetured_items_title_textBottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  color: #9f9f9f;
  text-align: center;
  margin-top: 15px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: block;
  width: 360px;
  height: 580px;
  background-color: #F8F8F8;
}

.card__img {
  position: relative;
}

.card__img img {
  height: 100%;
}

.card__button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 40%;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 44px;
  padding: 15px 10px;
  gap: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.card__button img {
  width: 26px;
  height: 24px;
}

.card__img_background {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 420px;
  background-color: #3a3838c5;
}

.card:hover {
  -webkit-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.card:hover .card__img_background {
  display: block;
}

.card__text {
  padding: 24px 17px 20px;
}

.card__textTitle {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.card__textContent {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
}

.card__textPrice {
  color: #f16d7f;
  margin-top: 18px;
}

.fetured_items_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 95px;
}

.fetured_items_button_wrap {
  display: block;
  max-width: 220px;
  background-color: #f16d7f;
  padding: 15px 40px;
  color: #ffffff;
  border: 1px solid #f16d7f;
}

.fetured_items_button_wrap:hover {
  background-color: #ffffff;
  color: #f16d7f;
}

.grand__offer {
  position: relative;
}

.grand__offer .grand__offer-features {
  position: absolute;
  right: 0;
  top: 0;
  height: 529px;
  width: 373px;
}

.grand__offer-img {
  display: block;
  position: relative;
}

.grand__offer-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grand__offer-img-title {
  color: #FBFBFB;
  position: absolute;
  top: 120px;
  left: 40px;
  text-transform: uppercase;
}

.title__textTop {
  font-size: 50px;
}

.title__textTop span {
  color: #F16D7F;
}

.title__textBottom {
  font-size: 35px;
}

.grand__offer-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222224;
  max-width: 100%;
  height: auto;
}

.features_item:nth-child(n+2) {
  margin-top: 48px;
}

.features_item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_item_title {
  color: #FBFBFB;
  font-size: 20px;
  margin-top: 25px;
}

.features_item_subtitle {
  color: #FBFBFB;
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 782px) {
  .grand__offer .grand__offer-features {
    position: static;
    width: auto;
  }
  .title__textTop {
    font-size: 45px;
  }
  .title__textBottom {
    font-size: 35px;
  }
}

@media (max-width: 620px) {
  .title__textTop {
    font-size: 35px;
  }
  .title__textBottom {
    font-size: 25px;
  }
}

.feedback {
  background-blend-mode: screen;
  background: url(../images/feedback_cover.png) no-repeat;
  background-position: 0px;
  background-size: cover;
  background-color: rgba(244, 244, 244, 0.7);
  min-height: 400px;
}

.feedback__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subscribe__title {
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__subtitle {
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__input {
  width: 240px;
  background: #E1E1E1;
  padding: 16px 22px;
  border-radius: 26px 0 0 26px;
  border-width: inherit;
  outline: none;
}

.subscribe__button {
  width: 95px;
  border-radius: 0 26px 26px 0;
  border-width: inherit;
  background-color: #F16D7F;
  padding: 16px;
  margin: -7px;
  color: white;
  outline: none;
}

.subscribe__button:hover {
  background-color: #E05C6E;
}
/*# sourceMappingURL=style.css.map */