@import 'vars';


body {
    margin: 0;

    background-color: $white;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";

    color: $black;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

//<<<header>>>
//<<< down >>>

.header {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
    column-gap: 33px;
    align-items: center;
}

.header__search {
    margin-left: 41px;
}

//<<<promo>>>
//<<<down >>>


.promo {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__left {
    width: 50%;
}

.promo__right {
    width: 50%;
}

.promo__img {
    width: 100%;
}

.promo__content {
    margin-top: 30%;
    border-left: 12px solid $red;
    padding-left: 16px;
}

.promo__text {
    color: $red;
}

.promo__h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: $black;
}

.promo__heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: $black;
}

//<<<sale>>>
//<<<down>>>
.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__box {
    display: flex;
    margin-bottom: 30px;
}

.sale__item {
    display: flex;
    position: relative;
}

.sale__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $white;
}

.sale__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $red;
}

.sale__img {
    width: 100%;
}

.sale__item:not(:last-child) {
    margin-right: 30px;
}

//<<<featured Items>>>
//    <<< down >>>

.fetured_items_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    &_textTop {
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
    }

    &_textBottom {
        justify-content: center;
        font-weight: 500;
        color: #9f9f9f;
        text-align: center;
        margin-top: 15px;
    }
}



.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.card {
    display: block;
    width: 360px;
    height: 580px;
    background-color: #F8F8F8;

}

.card__img {
    position: relative;

    & img {
        height: 100%;
    }
}

.card__button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40%;
}

.card__button {
    display: flex;
    width: 140px;
    height: 44px;
    padding: 15px 10px;
    gap: 11px;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;

    color: $white;


    & img {
        width: 26px;
        height: 24px;
    }
}

.card__img_background {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 420px;
    background-color: #3a3838c5;

}

.card:hover {

    box-shadow: $cardsShadow;
    .card__img_background {
        display: block;
    }


}

.card__text {
    padding: 24px 17px 20px;

    &Title {
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &Content {
        color: #5D5D5D;
        font-weight: 300;
        font-size: 14px;

    }

    &Price {
        color: $red;
        margin-top: 18px;
    }
}

.fetured_items_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0 95px;
}

.fetured_items_button_wrap {
    display: block;
    max-width: 220px;
    background-color: $red;
    padding: 15px 40px;
    color: $white;
    border: 1px solid $red;

}

.fetured_items_button_wrap:hover {
    background-color: $white;
    
    color: $red;
}


//<<<grand__offer>>>
//<<<    down    >>>

.grand__offer {
    position: relative;

    .grand__offer-features {
        position: absolute;
        right: 0;
        top: 0;
        height: 529px;
        width: 373px;
    }
}

.grand__offer-img {
    display: block;
    position: relative;

    & img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.grand__offer-img-title {
    color: #FBFBFB;
    position: absolute;
    top: 120px;
    left: 40px;
    text-transform: uppercase;
}

.title__textTop {
    font-size: 50px;

    & span {
        color: #F16D7F;
    }
}

.title__textBottom {
    font-size: 35px;
}


.grand__offer-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222224;
    max-width: 100%;
    height: auto;

}

.features_item:nth-child(n+2) {
    margin-top: 48px;
}


.features_item_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.features_item_title {
    color: #FBFBFB;
    font-size: 20px;
    margin-top: 25px;
}

.features_item_subtitle {
    color: #FBFBFB;
    font-size: 14px;
    text-align: center;

    margin-top: 16px;
}

@media (max-width: 782px) {
    .grand__offer .grand__offer-features {
        position: static;
        width: auto;
    }

    .title__textTop {
        font-size: 45px;


    }

    .title__textBottom {
        font-size: 35px;
    }

}


@media (max-width: 620px) {

    .title__textTop {
        font-size: 35px;


    }

    .title__textBottom {
        font-size: 25px;
    }

}


.feedback{
    background-blend-mode: screen;
    background: url(../images/feedback_cover.png) no-repeat;
    background-position: 0px;
    background-size: cover;
    background-color: rgba(244, 244, 244, 0.7);
    min-height: 400px;
}

.feedback__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    text-align: center;
    flex-grow: 1;
}

.subscribe__title{
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.subscribe__subtitle{
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.subscribe__input{
    width: 240px;
    background: #E1E1E1;
    padding: 16px 22px;
    border-radius: 26px 0 0 26px;
    border-width: inherit;
    outline: none;
}

.subscribe__button{
        width: 95px;
        border-radius: 0 26px 26px 0;
        border-width: inherit;
        background-color: #F16D7F;
        padding: 16px;
        margin: -7px;
        color: white;
        outline: none;

    &:hover {
        background-color: #E05C6E;
    }
}
